In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib inline

## Load data

In [4]:
!pwd
path = "data/hackathon_dataset_2011.dat"

/Users/zhaocongyuan/Desktop/retail-prediction

In [9]:
df = pd.read_csv(path) #, header=None)

In [10]:
df

,date_,store,department,item,unit_price,quantity,on_promotion,promotion_type
0,20110102,315,1,95470,10.00,2.0,N,0
1,20110102,315,2,8598,6.39,6.0,N,0
2,20110102,315,2,22631,12.84,6.0,N,0
3,20110102,315,2,102257,10.41,9.0,N,0
4,20110102,315,2,263929,17.91,9.0,N,0
5,20110102,315,2,263931,17.91,6.0,N,0
6,20110102,315,2,419546,23.94,6.0,N,0
7,20110102,315,2,423218,14.91,3.0,N,0
8,20110102,315,2,451332,29.94,6.0,N,0
9,20110102,315,2,482591,23.94,3.0,N,0
10,20110102,315,2,487331,5.31,138.0,Y,5
11,20110102,315,2,487334,5.31,132.0,Y,5
12,20110102,315,2,519483,32.94,6.0,N,0
13,20110102,315,2,533283,6.00,3.0,N,0
14,20110102,315,2,540535,6.00,24.0,N,0
15,20110102,315,2,558749,44.94,3.0,N,0
16,20110102,315,2,570153,13.41,6.0,N,0
17,20110102,315,2,577654,24.00,6.0,N,0
18,20110102,315,2,586937,3.00,12.0,N,0
19,20110102,315,2,592729,14.94,18.0,N,0
20,20110102,315,3,3683,1.76,28.0,Y,5
21,20110102,315,3,20376,8.54,12.0,N,0
22,20110102,315,3,90263,13.94,4.0,N,0
23,20110102,315,3,92433,2.28,10.0,N,0
24,20110102,315,3,108037,1.98,60.0,Y,5
25,20110102,315,3,153171,8.00,2.0,N,0
26,20110102,315,3,194771,3.94,10.0,N,0
27,20110102,315,3,194781,6.94,96.0,Y,5
28,20110102,315,3,228016,11.94,4.0,N,0
29,20110102,315,3,417014,3.54,22.0,Y,6
...,...,...,...,...,...,...,...,...
451225,20111231,671,3,456076,4.00,64.0,Y,5
451226,20111231,671,3,471651,7.94,4.0,N,0
451227,20111231,671,3,515246,4.94,6.0,N,0
451228,20111231,671,3,573599,4.54,18.0,N,0
451229,20111231,671,3,573602,4.54,4.0,N,0
451230,20111231,671,3,573607,4.54,2.0,N,0
451231,20111231,671,3,573609,4.54,6.0,N,0
451232,20111231,671,3,587131,5.54,4.0,N,0
451233,20111231,671,3,590267,1.94,20.0,N,0
451234,20111231,671,4,82660,3.70,19.5,Y,6
451235,20111231,671,4,82686,1.45,45.0,N,0
451236,20111231,671,4,82689,3.71,3.0,N,0
451237,20111231,671,4,82701,2.95,24.0,N,0
451238,20111231,671,4,255476,2.20,16.5,N,0
451239,20111231,671,4,255489,2.20,33.0,Y,6
451240,20111231,671,4,255494,1.45,39.0,N,0
451241,20111231,671,4,335757,3.70,22.5,Y,5
451242,20111231,671,4,335781,2.36,21.0,N,0
451243,20111231,671,4,345376,2.52,39.0,N,0
451244,20111231,671,4,407217,1.91,31.5,Y,6
451245,20111231,671,4,409559,3.70,12.0,N,0
451246,20111231,671,4,411406,4.46,1.5,N,0
451247,20111231,671,4,431714,2.66,13.5,N,0
451248,20111231,671,4,455721,3.70,9.0,Y,6
451249,20111231,671,4,467757,5.95,22.5,N,0
451250,20111231,671,4,501396,3.70,31.5,Y,5
451251,20111231,671,4,530037,5.96,7.5,N,0
451252,20111231,671,4,532196,1.50,22.5,Y,3
451253,20111231,671,4,536428,4.46,1.5,N,0
451254,20111231,671,4,555947,5.96,4.5,N,0

## Visualize data